* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}



.alert-danger {
    display: block;
    max-width: 70%;
    background-color: #4dfc2b;
    border-color: #46fafa;
    color: #8a6d3b;
}

.form {
    box-sizing: border-box;

}

.menu-main a.current, .menu-main a:hover {
    background: rgba(0, 0, 0, .2);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.2);
}