@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

/* {
  background-color: burlywood;
}

.body {
  background-color: rgba(63,59,183,0.62);
}*/

.alert-danger {
    display: block;
    max-width: 70%;
    background-color: honeydew;
}


.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: snow;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
  /*background: snow;*/
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  /*background: snow;*/
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #9DCFCE;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #9DCFCE;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
/*  background: snow;*/
}
}

.auth-form {
  background-color: burlywood;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  max-width: 70%;
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  border-top: 7px solid #93CFC1;
  border-bottom: 7px solid #93CFC1;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
}
th {
  font-size: 13px;
  font-weight: normal;
  background: snow;
  border-right: 1px solid #93CFC1;
  border-left: 1px solid #93CFC1;
  color: darkgoldenrod;
  padding: 8px;
  border-bottom: 1px dashed #93CFC1;
}
td {
  background: snow;
  border-right: 1px solid #93CFC1;
  border-left: 1px solid #93CFC1;
  color: #669;
  padding: 8px;
  border-bottom: 1px dashed #93CFC1;
}

table a {
  text-decoration: none;
  color: #669;
}

table a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: #9DCFCE;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
}