<html lang="fr">
<head>
    <script language="JavaScript" src="/static/common.js"> </script>
    <script language="JavaScript" src="/static/main.js"> </script>
    <link href="/static/stylesheet.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>le drill long</title>
</head>
<body>
 <div class="container">
      <div class="header">
        <h3 class="text-muted">mettez le verbe dans une forme propre</h3>
      </div>
      <p>question {{ question_number }} de {{ sumup }}</p>
      <hr/>
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
      {% endfor %}
      <form class="form" action="/materials/bigconj_{{ cat }}" method="post" autocomplete="off">
        <div class="form-group">
          <span class="col-lg-2">{{ question }}</span>
          <div class="col-lg-2">
            <input type="text" name="answer" placeholder="réponse" class="form-control">
            <a href="{{ url_for('keyboard') }}" target="_blank"><img style="vertical-align:bottom;" src="/static/keyboard.gif"
            alt="Виртуальная клавиатура" title="Виртуальная клавиатура" width="42" height="21" border="0"></a>
          </div>
        <input type="submit" class="btn btn-primary" value="confirmer">
        </div>
      </form>
 </div>

<div class="test-question">

</div>
</body>
</html>