<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
<ul class="menu-main">
  <li><a href="{{ profile_refer }}">Личный кабинет</a></li>
  <li><a href="" class="current">Материалы и тесты</a></li>
  <li><a href="{{ quizes_refer }}">Контрольные</a></li>
  <li><a href="{{ starter_refer }}">Выйти</a></li>
</ul>
<h2>Le Substantif</h2>
<a href="{{ noun_voc }}">Словарь</a>
<a href="{{ noun_test1 }}">test 1</a>
<a href="{{ noun_test2 }}">test 2</a>
<a href="{{ noun_test3 }}">test 3</a>
<h2>Le Verbe</h2>
<a href="{{ verb_voc }}">Словарь</a>
<a href="{{ verb_test1 }}">test 1</a>
<a href="{{ verb_test2 }}">test 2</a>
<a href="{{ verb_test3 }}">test 3</a>
<h2>L'Adverbe</h2>
<a href="{{ adv_voc }}">Словарь</a>
<a href="{{ adv_test }}">test</a>
</body>
</html>