<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<ul class="menu-main">
  <li><a href="" class="current">Личный кабинет</a></li>
  <!--li><a href="{{ quizes_refer }}">Контрольные</a></li-->
  <li><a href="{{ return_refer }}">Выйти</a></li>
</ul>
<div class="themes">
    <h2>Les Matériaux</h2>
    <a href="{{ noun_voc }}">Le Substantif</a>
    <a href="{{ verb_voc }}">Le Verbe</a>
    <a href="{{ adv_voc }}">L'Adverbe</a>
</div>
</body>
</html>