<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

<ul class="menu-main">
  <li><a href="{{ profile_refer }}">Личный кабинет</a></li>
  <li><a href="{{ quizes_refer }}">Контрольные</a></li>
  <li><a href="{{ starter_refer }}">Выйти</a></li>
</ul>

<div class="success">
{% if a == 0 %}
<a href="">Дальше</a>
{% else %}
    <h2>Votre résultat: {{ markk }} points</h2>
<a href="{{ profile_refer }}">Выйти</a>
{% endif %}
</div>
</body>
</html>