<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="/static/stylesheet.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>succès</title>
</head>
<body>
<div class="success">
{% if a == 0 %}
<form action="">
<input type="submit" class="btn btn-primary" value="ok">
</form>
{% else %}
<form action="{{ profile_refer }}">
<div class="results">
    <h2>Votre résultat: {{ markk }} points</h2>
    <h2>Vos erreurs:</h2>
    {% for mistake in mistakes %}
        <p>{{ mistake }}</p>
    {% endfor %}
<input type="submit" class="btn btn-primary" value="ok">
</div>
{% endif %}
</div>
</body>
</html>