<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Les materieux et les tests</title>
</head>

<body>
{{ uemail }}
<ul class="menu-main">
  <li><a href="{{ profile_refer }}">Личный кабинет</a></li>
  <li><a href="{{ return_refer }}">Выйти</a></li>
</ul>
<h1>{{ vocab_category }}</h1>
<div class="test-links">
    <table>
        <tbody>
        <tr>
            <th>Long tests</th>
            <td><a href="{{ 'bigtest_'+ ps}}">Traduire en français</a> </td>
            <td><a href="{{ 'bigtestb_'+ ps }}">Traduire en russe</a> </td>
            {% if vocab_category == 'Le Substantif' %}
            <td><a href="{{ 'biggenpl'}}">Génitif pluriel</a> </td>
            {% elif vocab_category == 'Le Verbe' %}
            <td><a href="{{ 'bigconj_v'}}">Conjugation présent</a> </td>
            <td><a href="{{ 'bigconj_v1'}}">Conjugation présent type I</a> </td>
            <td><a href="{{ 'bigconj_v2'}}">Conjugation présent type II</a> </td>
            {% endif %}

        </tr>
        {% for cat in mama %}
        <tr>
            <th>Traduire en français</th>
            <td><a href="{{ 'test_'+cat }}">test</a> </td>
            <td><a href="{{ 'quiz_'+cat }}">quiz</a> </td>
        </tr>
        <tr>
            <th>Traduire en russe</th>
            <td><a href="{{ 'testb_'+cat }}">test</a> </td>
            <td><a href="{{ 'quizb_'+cat }}">quiz</a> </td>
        </tr>
        <tr>
        {% if vocab_category == 'Le Substantif' and cat != 'sg_tantum' %}
            <th>Génitif pluriel</th>
            <td><a href="{{ 'genpl_' + cat }}">test</a> </td>
            <td><a href="{{ 'qgenpl_' + cat }}">quiz</a> </td>
        {% elif vocab_category == 'Le Verbe' %}
            <th>Conjugation présent</th>
            <td><a href="{{ 'conj_' + cat }}">test</a> </td>
            <td><a href="{{ 'qconj_' + cat }}">quiz</a> </td>
        {% endif %}
        </tr>
    </table>
</div>
<div class="vocabulaire">
    <h2>Le Vocabulaire</h2>
    <table>
        <thead>
          <tr>
            <th scope="col">en russe</th>
            <th scope="col">en français</th>
          </tr>
        </thead>
        <tbody>
            {% for el in voc[cat] %}
        <tr>
            <td>{{ el[0] }}</td>
            <td>{{ el[1] }}</td>
        </tr>
             {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>